In [1]:
#https://medium.com/@rnbrown/creating-and-visualizing-decision-trees-with-python-f8e8fa394176

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('candidates.csv')

In [4]:
df.shape

(7235, 16)

In [5]:
df = df.iloc[:,1:16]

In [6]:
df.head()

,req_id,src_sys_cd,LT,SubCnt,DistrCnt,RespCnt,CompSubClass,CompDistrClass,WinLose,NTE,SubRt,Sub_NTE,SubTime,SubRank,Result
0,1002-1,BL,Admin / Clerical,4,6,4,Low,Medium,0,110.00,102.25,0.930,1.0,1,Interview
1,1002-1,BL,Admin / Clerical,4,6,4,Low,Medium,0,110.00,79.00,0.718,2.0,2,Shortlist
2,1002-1,BL,Admin / Clerical,4,6,4,Low,Medium,1,110.00,98.00,0.891,3.0,3,Hire
3,1002-1,BL,Admin / Clerical,4,6,4,Low,Medium,0,110.00,79.00,0.718,8.0,4,Interview
4,10025-1,BL,Engineering,16,7,4,High,Medium,0,1398.13,1100.00,0.787,8.0,1,Shortlist

In [7]:
df = df.drop('req_id',axis=1)

In [8]:
y=df[['Result']]
y.head()

      Result
0  Interview
1  Shortlist
2       Hire
3  Interview
4  Shortlist

In [10]:
from sklearn import preprocessing

In [11]:
le = preprocessing.LabelEncoder()

In [12]:
one_hot_data= pd.get_dummies(df[['src_sys_cd','LT','CompSubClass','CompDistrClass']],drop_first=True)
one_hot_data.head()

,src_sys_cd_IQN,src_sys_cd_PF,LT_Admin / Clerical,LT_Business Professional,LT_Call Center,LT_Engineering,LT_Healthcare,LT_Information Technology,LT_Legal,LT_Light Industrial,LT_Scientific,CompSubClass_Low,CompSubClass_Medium,CompDistrClass_Low,CompDistrClass_Medium
0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
2,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [14]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(one_hot_data,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)

ModuleNotFoundError: No module named 'pydotplus'

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [ ]:
#read this if first time in new environment
#install graph viz from https://graphviz.gitlab.io/_pages/Download/Download_windows.html
#https://stackoverflow.com/questions/18438997/why-is-pydot-unable-to-find-graphvizs-executables-in-windows-8

In [ ]:
import os     
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [ ]:
Image(graph.create_png())